
body {
    background: hsla(352, 96%, 56%, 1);
    background: linear-gradient(360deg, hsla(352, 96%, 56%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FA233E", endColorstr="#6E78FF", GradientType=1 );
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: clip;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 4 1 auto;
    overflow: hidden;
}

.units {
    width: 33vw;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
}

.units::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.portrait {
    width: 33vw;
    height: 33vw;
}

.title {
    text-align: left;
}